.auth {
    @apply relative w-full h-full bg-[url('/images/hero.jpg')] bg-no-repeat bg-center bg-cover
}

.container {
    @apply bg-black w-full h-full sm:bg-opacity-50 pt-24
}

.logoWrapper {
    @apply px-3 py-3 sm:px-12 sm:py-5
}

.contentWrapper {
    @apply flex justify-center
}

.content {
    @apply bg-black bg-opacity-80 w-full sm:w-2/3 lg:w-1/3 py-12 px-16 rounded-lg
}

.content h1 {
    @apply text-white text-4xl mb-9
}

.inputs {
    @apply flex gap-6 flex-col mb-9
}

.setVariant {
    @apply text-gray-500 text-base mt-4
}

.setVariant span {
    @apply ml-2 text-white hover:underline transition cursor-pointer
}