@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';



body {
    @apply bg-zinc-900 h-full overflow-x-hidden
}

#__next {
    @apply h-full
}

html {
    @apply h-full
}

:root input:autofill {
	background-image: unset
}